.dashboardWrapper{
	display: grid;
	grid-template-columns: 20vw auto;
	grid-template-rows: auto auto auto;
	background: #F5F5F5;
}

.dash-head{
	grid-column: 1/span 2;
	grid-row: 1;
	/*z-index: 3;*/
}

.dash-sb{
	display:fixed;
	width: 20vw;
	margin-top: 0;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	height: 100vh;
}

.dash-cont{
	padding: 2em;
	padding-top: 1em;
	grid-column: 2;
	grid-row: 2;
	min-height: 90vh;
}

.dash-cont h2{
	font-weight: 900;
	margin-left: 0.5em;
}

.dash-foot{
	grid-column: 1/span 2;
	grid-row: 3;
	bottom: 0;
	right: 0;
	left: 0;
	align-self:end;
}
