.loginPage:before{
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	height: 100vh;
	width: 100vw;
	background-image: url('../assets/jonatan-pie-234237.jpg');
	background-size: cover;
	background-position: center;
	filter: blur(5px);
	transform: scale(1.03);
}

.loginPage{
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	grid-gap: 1fr;
	height: 100vh;
	justify-content: center;
	background: rgba(255,255,255,.8);

	text-align: center;
	z-index: 1;
}



.loginTitle{
	align-self: center;
	color: #E7E8EC;
	z-index: 2;
}

.loginBox{
	justify-self: center;
	background: rgba(255,255,255,.8);
	opacity: 0.8;
	width: 40vw;
	padding-top:2em; 
	border-radius: 35px;
	z-index: 2;
}

.form{
	/*opacity: 1;*/
	display: grid;
	/*justify-content: stretch;*/
	align-content: space-around;
	margin: 4em;
	color: #44484A;
}

.form input{
	width:100%;
	height: 2.5em;
	border: none;
	color: black;
    border-bottom: 2px solid #90A0A7;
    background-color: transparent;
    padding-left: 1em;
}

.form input::placeholder{
	color: #90A0A7;
}

.form button{ 
	margin-top: 1em;
	width: 80%;
	height: 3em;
	justify-self: center;
	/*display: inline-block;*/
}

@media screen and (max-width: 800px) {
	.loginBox{
		width: 50vw;
	}

	.form{
		margin: 3em;
	}
}

@media screen and (max-width: 600px) {
	.loginBox{
		width: 70vw;
	}

	.form input{
		padding: 0;
	}

	.form{
		margin:2em;
	}
}