.studyPage{
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	padding-bottom: 0;
	background-image: url('../assets/jonatan-pie-234237.jpg');
	background-size: cover;
	background-position: center;
}

.studyPage-header{
	background: rgba(255,255,255,.5);
	text-align: center;
	padding-top: 1em;
	font-weight: bold;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
	z-index: 3;
}

.studyPage-body{
	display: grid;
	grid-gap: 1em;
	background: #F5F5F5;
	padding: 2em;
	min-height: 100vh;
}

.study-category{
	padding: 2em;
	display: grid;
	grid-gap: 1em;
	grid-row-gap: 2em;
	grid-template-columns: 1fr 1fr 1fr 1fr;	
	border-bottom: 2px solid #90A0A7;
}

.studyName{
	grid-column: 1 / span 4;
}

.studyContent{
	padding-left: 1em;
}

@media screen and (max-width: 1000px) {
	.studyName{
		grid-column: 1 / span 3;
	}
	.study-category{
		grid-template-columns: 1fr 1fr 1fr;	
		/*width: 800px; 	*/
}

}

@media screen and (max-width: 700px) {
	.studyName{
			grid-column: 1 / span 2;
	}
	.study-category{
		grid-template-columns: 1fr 1fr;	
		/*width: 800px; 	*/
	}
}

@media screen and (max-width: 350px) {
	.studyName{
			grid-column: 1;
	}
	.study-category{
		grid-template-columns: 1fr;	
		/*width: 800px; 	*/
	}
}