.avatarWrapper{
	display: grid;
	grid-template-columns: 1fr 2fr;
	max-width: 250px;
}

.avaImage{
	grid-row: 1 / span 2;
	justify-self: center;
	align-self: center;
}

.avaImage img{
	border-radius: 50%;
	border: 2px solid white;
	width: 70px;
	height: 70px;

}

.avaName{
	border-bottom: 2px solid #90A0A7;
	color: white;
	align-self: end;

}

.avaId{
	grid-column: 2;
	color: #95989A;
}

@media screen and (max-width: 990px) {
	.avaImage img{
		width: 55px;
		height: 55px;
		margin-right: 5px;
	}
	.avaId{
		font-size: 0.8em;
	}
}

@media screen and (max-width: 860px) {
	.avaImage img{
		width: 45px;
		height: 45px;
		margin-right: 5px;
	}
	.avaId{
		font-size: 0.7em;
	}
}

@media screen and (max-width: 740px) {
	.avaImage img{
		width: 35px;
		height: 35px;
	}
	.avaName{
		font-size: 0.9em;
	}
	.avaId{
		font-size: 0.6em;
	}
}

@media screen and (max-width: 620px) {
	.avaImage img{
		width: 5vw;
		height: 5vw;
	}
	.avaName{
		font-size: 2vw;
	}
	.avaId{
		font-size: 1.5vw;
	}
}

@media screen and (max-width: 450px) {
	.avatarWrapper{
		grid-template-columns: 1fr;
	}
	.avaImage img{
		width: 15vw;
		height: 15vw;
	}
	.avaName{
		display: none;
	}
	.avaId{
		display: none;
	}
}