.ds-wrapper{
	display:grid;
	grid-template-rows: 1fr auto;
	background: #FFFFFF;
	border: 1px solid #95989A;
	border-radius: 20px;
	padding: 1em 2em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.ds-top{
	margin-bottom: 1em;

}

.ds-top p {
	display: inline;
	padding-left: 0.5em;
	font-size: 0.8em;
}

.addButton{
	width: 100px;
	justify-self: end;
	align-self: start;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
	font-size: 0.8em;
	text-decoration: none;
	margin: 1em;
	margin-left: 0;
}

.slcInput {
	width: 5em;
	border-radius: 50px;
	border: 1px solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
	margin-top: 0.5em;
	font-size: 0.8em;
}

.act-btn {
	border-radius: 25px;
	font-size: 0.8em;
	display: inline;
	margin:5px;
}

.red-btn{
	background-color: #E45D5D;
	border-color: #E45D5D;
	color:white;
}

.act-btn:hover {
	background-color: white;
	color:black;
}


.cust-table thead, th{
	border: 1px solid #dee2e6;
	white-space:nowrap;
}

.cust-table tbody, tr{
	font-size: 1em;
}

.act{
	display: inline-block;
	white-space:nowrap;
	text-align: center;
}

.txt-modalHandler{
	cursor: pointer;
	text-decoration: underline;
	color: #007D74;
}

.txt-modalHandler:hover{
	color: black;
}

@media screen and (max-width: 800px) {
	.addButton{
	}
}

@media screen and (max-width: 600px) {
	.addButton{
	}
}