.footer {
	display: grid;
	background: #3D474D;
	text-align: right;
	padding-top: 1em;
	color: white;
	bottom: 0;
	max-width: 100%;
	font-size: 10px;
	font-kerning: normal; 
}

.footer p{
	font-weight: bold;
	padding-right: 2em;
}

.footer span{
	font-weight: normal;
}