.header {
	display: grid;
	background: white;
	text-align: right;
	color: #849095;
	top: 0;
	max-width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logoutBtn{
	justify-self: end;
	min-width: 10vw;
	z-index: 3;
	font-size: 1em;
	border-left: 2px solid #EDEDED;
	padding: 0.5em;
	box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	text-align: center;
}

.logoutBtn img{
	width: 25px;
	height: 20px;
	padding-right: 0.5em;
	
}

.logoutBtn a{
	text-decoration: none;
	color: #849095;
}

.logoutBtn:hover{
	opacity: 0.5;
}