.menuWrapper{
	max-width: 250px;
	height: 45px;
	justify-content: center;
	align-content: center;
	color: white;
	font-family: Ubuntu;
}

.menuWrapper a{
	display: grid;
	grid-template-columns: 1fr 2fr;
	color:white;
	text-decoration:  none;
}

.menuWrapper img{
	margin-right: 1em;
	grid-column:1;
	justify-self:center;
}

.menuTitle{
	grid-column:2;
	text-align: left;
	justify-self:start;
}
.menuTitle:hover{
	text-decoration:  none;
	opacity: 0.5;
}

.menuSelect{
	border-right: 8px solid #5D6EE4;
}


@media screen and (max-width: 980px) {
	.menuWrapper{

	}
	.menuIcon{
		display: none;
	}
	.menuWrapper a{
		grid-template-columns: 1fr;
	}
	.menuTitle{
		grid-column:1;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width: 800px) {
	.menuWrapper {
		max-width: 20vw;
	}
}

@media screen and (max-width: 400px){
	.menuTitle{
		font-size: 0.7em
	}
}


@media screen and (max-width: 300px) {
	.menuIcon{
		display: initial;
		height: 20px; 
		margin-left: 7px;
	}
	.menuTitle{
		display: none;
	}
	.menuWrapper{
		max-width: 20vw;
	}
	.menuSelect{
		border-width:2px;
	}
}