.image-container{
	display: grid;
	max-width: 90vw;
	max-height: 90vh;
}

.image-container img{
	justify-content: center;
	align-items: start;
	max-width: 80vw;
	max-height: 80vh;
}

@media screen and (max-width: 650px) {
	.image-container{
		margin-top: 2em;
	}
}

@media screen and (max-width: 380px) {

}