/*modal-overlay and modal-container follow ModalDetail.css*/

.error-container {
	max-width: 30vw;
	height: 70vh;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	background-color: #FFFFFF;
	border-radius: 25px;
	text-align: center;
	color:#9B9D9F;
}

.header-error{
	background-color: #E45D5D;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.header-error img{
	margin:1em;
	max-width: 7vw;
	max-height: 7vw;
}

.content-error {
	padding: 1.5em;
	font-family: Roboto;
}

.content-error h3{
	color: #E45D5D;
	margin-bottom: 1em;
}

.footer-error {
	align-self: center;
}

.btn-error {
	border-radius:45px;
	min-width: 15vw;
	background-color: #E45D5D;
	color:white;
	font-size: 1em;
	margin:1em;
}


@media screen and (max-width: 750px) {
	.error-container{
			max-width: 60vw;
			max-height: 70vh;
	}
	.header-error img{
		max-width: 10vw;
		max-height: 10vw;
	}
	.content-error h3{
		margin-bottom: 0.8em;
	}
	.btn-error {
		min-width: 30vw;
	}
}

@media screen and (max-width: 450px) {
	.error-container{
			max-width: 90vw;
			max-height: 70vh;
			margin-top: 5em;
	}
	.header-error img{
		max-width: 15vw;
		max-height: 15vw;
	}
	.btn-error {
		min-width: 40vw;
	}
}