/*modal-overlay and modal-container follow ModalDetail.css*/

.info-container {
	max-width: 60vw;
	max-height: 70vh;
	display: grid;
	grid-template-rows: 0.5fr auto auto;
	background-color: #FFFFFF;
	border-radius: 25px;
	text-align: center;
	color:#9B9D9F;
}

.header-info{
	background-color: white;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.content-modalInfo {
	padding: 1.5em;
	font-family: Roboto;
}

.content-modalInfo img{
	margin:1em;
	max-width: 5vw;
	max-height: 5vw;
}

.content-modalInfo h3{
	color: #44484A;
	margin-bottom: 1em;
}

.footer-info {
	align-self: center;
	color: #95989A;
	margin: auto;
}

.btn-modalInfo {
	display:inline-block;
	border-radius:45px;
	border-color: #44484A;
	min-width: 15vw;
	background-color: #44484A;
	color:white;
	font-size: 1em;
	margin:1em;
}


.btn-info-def {
	background-color: white;
	color:#44484A;
}

@media screen and (max-width: 750px) {
	.info-container{
			max-width: 60vw;
			max-height: 90vh;
			margin-top: 1em;
	}
	.content-modalInfo h3{
		font-size: 1em;
	}
	.footer-info {
		font-size: 0.8em;
	}
	.content-modalInfo img{
		margin:0.5em;
		min-width: 25px;
		min-height: 25px;
	}
}

@media screen and (max-width: 450px) {
	.info-container{
			max-width: 90vw;
			max-height: 90vh;
			margin-top: 1em;
	}
	.header-info h3{
		font-size:1em;
	}
	.content-modalInfo h3{
		margin-bottom: 0.9em;
		font-size: 0.8em;
	}
	.footer-info {
		font-size: 0.6em;
	}
}