

.modal-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   padding: 1em;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 9999;
   opacity: 1;
   overflow-x: hidden;
   overflow-y: hidden;
   animation: animatetop .5s ease;
}

.modal-container {
	max-width: 90vw;
	max-height: 90vh;
	display: grid;
	grid-template-rows: 0.5fr 4fr 0.5fr;
	background-color: #FFFFFF;
	border-radius: 25px;
}

.modal-header {
	padding: 0;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.modal-header h5{
	margin: 0.3em;
	color: #95989A;
}

.modal-content {
	display: grid;
	grid-template-columns: 60vw 20vw;
	border: 0px;
	/*padding: 0.5em 2em;*/
	color: #3D474D;
	font-size: 0.9em;
}

.modal-footer {
	box-shadow: 0 -4px -8px 0 rgba(0, 0, 0, 0.2);
	padding: 0.6em;
	z-index: 2;
}

.left-content {
	display:grid;
	grid-template-rows: 2fr 2fr;
	padding: 0.5em 2em;
}

.right-content {
	background-color: #F5F5F5;
	display:grid;
	grid-template-rows: 0.2fr auto;
}

.right-content-logo {
	margin: 0.5em;
	margin-left: 0;
	width: 20px;
	height: 20px;
}

.content-soal {
	border-bottom: 1px solid #95989A;
}

.content-info-title {
	max-height: 80px;
	border-bottom: 1px solid #95989A;
	padding: 0.5em;
	font-size: 1.5em;
}

.content-info {
	min-height: 200px;
	font-size: 0.9em;
	padding: 0.5em;
}

.push-content {
	margin-left: 2em;
	margin-bottom: 0;
}

.btn-footer {
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
	font-size: 0.8em;
	min-width: 100px;
}

.round-ava {
	border-radius: 50%;
}

.soal-pict{
	display: block;
	border: 1px solid #ddd;
 	border-radius: 4px;
 	padding: 5px;
 	max-width: 150px;
 	max-height:80px;
 	margin: 1em;
}

.soal-pict:hover{
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.txt-small {
	font-size: 0.8em;
	margin: 0.2em;
}

.txt-bold {
	font-weight: bold;
}

@keyframes show {
	0% {
      display: 'none';
      opacity: 0;
   }
   1% {
   	display: 'flex';
      opacity: 0;
   }
   100% {
      opacity: 1;
    }
}	

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@media screen and (max-width: 750px) {
	.modal-container {
		max-width: 90vw;
		max-height: 100vh;
	}
	.content-info-title {
		font-size: 1em;
	}
	.content-info{
		font-size: 0.7em;
	}

	.txt-small {
		font-size: 0.7em
	}

	.btn-footer {
		font-size: 0.7em;
		max-width: 10vw;
	}
}

@media screen and (max-width: 650px) {
	.modal-overlay{
		padding: 0;
		align-items: start;
	}
	.modal-container {
		margin-top:2vh;
		max-width: 100%;
		max-height: 100%;
	}
	.modal-content {
		grid-template-columns: 70vw 20vw;
	}

	.soal-pict{
	 	max-width: 100px;
	 	max-height:40px;
	 	margin: 0.5em;
	}
}

@media screen and (max-width: 380px) {
	.right-content{
		grid-template-rows: 0.3fr auto;
	}

	.right-content-logo{
		display:none;
	}

	.soal-pict{
	 	margin: 0.2em;
	}
}