.soal-overlay {
	display: grid;
	align-items: start;
	justify-content: center;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   padding: 1em;
   overflow-y: auto;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 9999;
   opacity: 1;
   font-family: Helvetica Neue;
   animation: animatetop .5s ease;
}

.soal-header{
   margin-bottom: 1em;
}

.soal-header h1{
   text-align: center;
   margin-bottom: 0.5em;
}

.soal-container {
	max-width: 95vw;
	max-height: 100%;
   padding: 1.5em;
	display: grid;
	grid-template-rows: 1fr auto;
	background-color: #FFFFFF;
	/*border-radius: 25px;*/
}

.soal-wrap {
   display: grid;
   grid-template-columns: auto auto;
}

.no-soal {
   display: inline;
   min-height:100%;
   margin-right: 0.5em; 
   grid-row: 1 / span 6 ;
}

.soal-p{
   display: inline;
}

.jawaban {
   display: grid;
   grid-template-columns: 1.8em auto;
   padding-left: 1em;
}

.close-btn{
   position: absolute;
   top:1em;
   right:1em;
   width: 3em;
   height: 3em;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.print-txt{ 
   font-size: 2em;
   border:1px solid black;
   text-align: center;
   background-color: #F7F7F7;
}

@media print {
   body { 
      background: white; 
      font-size: 12pt; 
      font-family: 'Times New Roman',Times,serif;
   }
  @page {
      margin:3cm;
      margin-right:0cm;
   }
}