.setting-wrapper{
	display:grid;
	grid-template-rows: 1fr auto;
	background: #FFFFFF;
	border: 1px solid #95989A;
	border-radius: 20px;
	padding: 1em 2em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.header-setting{
	color:#BDC0C1;
}

.content-setting{
	margin: 1em;
}

.content-setting input{
	margin-bottom:1em;
	margin-top:0;
	border: 2px solid #ccc;
   border-radius: 4px;
}

.content-setting label{
	min-width: 150px;
}

.btn-submit{
	background-color: #44484A;
	color:white;
	border-radius: 45px;
	border-color: #44484A;
	min-width: 150px;
}

.btn-submit:hover{
	background-color: white;
	color: #44484A;
}

