.sidebarWrapper{
	display: grid;
	grid-template-rows: 2fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
	height:100%;
	max-width: 250px;
	background: #44484A;
	border-radius: 0px 106px 186px 0px;
	box-shadow: 6px 0 8px 0 rgba(0, 0, 0, 0.3), 8px 0 20px 0 rgba(0, 0, 0, 0.29);
}

.sidebarAva{
	align-self: center;
}

