.su-wrapper{
	display:grid;
	grid-template-rows: 1fr auto;
	background: #FFFFFF;
	border: 1px solid #95989A;
	border-radius: 20px;
	padding: 1em 2em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.su-top{
	margin-bottom: 1em;
	margin-top: 1em;
}

.su-top h4{
	color:#BDC0C1;
	font-family: Ubuntu;
}

.su-top p {
	display: inline;
	padding-left: 0.5em;
	font-size: 0.8em;
}


/*css tablePick*/
.center-table tbody{
	text-align: center;
}

.soal-align{
	text-align: left;
}

.to-top-btn{
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	background-color: #44484A;
	color: white;
	cursor: pointer;
	border:0px;
	border-radius: 4px;
	padding: 1em 2em;
	box-shadow: 0 0 30px 0 #5e5e5e;
}

.to-top-btn:hover{
	opacity: 0.8;
}

.block-div{
	/*display:block;*/
}

.checkAll {
	display: inline-block;
	margin: 1em;
	margin-left: 1.5em;
}

.checkAll p{
	display: inline-block;
	font-size: 1em;
	/*vertical-align: middle;*/
	margin-left: 0.5em;
}

.checkAll input[type=checkbox] {
	vertical-align: middle;
	height: 1.5em;
	width: 1.5em;
	/*margin:auto 1em;*/
	align-items: center;
	/*margin:5em;*/
}