.cardWrapper{
	display: grid;
	grid-template-rows: 2fr 1fr;
	grid-gap: 2fr;
	max-width: 200px;
	height: 230px;
	background: #44484A;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.cardWrapper:hover{
	text-decoration:  none;
	opacity: 0.5;
	cursor:pointer;
}

.cardIcon{
	justify-content: center;
	margin: 1em;
	min-height: 145px;
	padding: auto;
	/*width: 80%;
	height:80%;*/
}

.cardName{
	background: #849095;
	padding-bottom: 1em;
	padding-top: 1em;
	color: white;
}

.cardName:link{
	text-decoration: none;
}