.ts-wrapper{
	display:grid;
	grid-template-rows: 1fr 1fr 1fr;
	min-height: 100vh;
	background:#F5F5F5;
	grid-row-gap: 1em;
}

.ts-first, .ts-second, .ts-third{
	display:grid;

	background: #FFFFFF;
	border: 1px solid #95989A;
	border-radius: 20px;
	padding: 1em 2em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
	/*font-size: 0.5em;*/
}

.ts-first h3, .ts-second h3, .ts-third h3{
	font-weight: 1000;
	padding-bottom: 0;
	max-height: 30px;
}

.ts-first span, .ts-second span, .ts-third span{
	color: #E45D5D;
	vertical-align: top;
	font-size: 40%;
}

.ts-first p, .ts-second p, .ts-third p{
	color: #E45D5D;
	margin-bottom: 0;
}

.ts-first{
	display: grid;
	grid-template-rows: auto 1fr;
}

.ts-first textarea{
	width: 90%;
	min-height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: #f8f8f8;
	margin-top: 1em;
	margin-bottom: 0.5em;
	justify-self: center;
/*resize: none;*/
}

.ts-second{
	/*grid-template-rows: 1fr auto;*/
}

.ts-second label{
	margin-right: 0.5em;
	margin-left: 0.5em;
	/*padding-bottom: 2em;*/
	font-weight: 900;
	width: 2em;
	text-align: center;
}

.ts-second input{
	margin-bottom: 1em;
}

.formInput{
	width: 85%;
	border: 2px solid #ccc;
    border-radius: 4px;
}

.formRadio{
	width: 20px;
	height: 20px;
}

.uploadBox{
	display: grid;
	border: 5px dashed #95989A;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

.uploadBox img{
	justify-self: center;
	/*padding: auto;*/
	margin:1em;
}

.submitBtn{
	width: 20vw;
	justify-self: end;
	align-self: start;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}